#wrapper {
    display: grid;
    grid-gap: 30px;
    width: 100vw;
    height: 100vh;

    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "oss oss"
    "gen the"
    ;
}

#star{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

.chatt-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.chatt-text{
    background-color: #1abc9c;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 150px;
    
}
.chatt{
    font-size: 2rem;
    color: #1abc9c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
}

#medoss{
    grid-area: oss;
    padding: 30px;
}

#general{
    grid-area: gen;
    width: 100%;
    border-radius: 40px;
    padding: 30px;
    border-style: solid;
    border-color: #1abc9c;
    border-width: 5px;
    background-color: #ffffff;
}

#therapist{
    grid-area: the;
    width: 100%;
    border-radius: 40px;
    padding: 30px;
    border-style: solid;
    border-color: #1abc9c;
    border-width: 5px;
    background-color: #ffffff;

}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background-color: #bae0e7;
}

h1{
    font-size: 80px;
    background-image: linear-gradient(to bottom, #1abc9c, #50d6cf, #9df5de, #baf3f1, #bae0e7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;

}


ul{
    display: flex;
    background-color: #1abc9c;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 4vw;
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
    font-weight: bold;
    background-color: #1abc9c;
  
}
section{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 620px;
}
img{
    height: 200px;
    width: auto;
}

div{
    display: flex;
    justify-content: center;
}

#omoss{
    color: #fcffff;
    font-size: 120px;
    position: absolute;
    top: 160px; left: 390px;
    background-color: transparent;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

#rec{
    color: #fcffff;
    font-size: 80px;
    padding: 0px 20px 0px 20px;

}


#varatjanster-wrapper {
    display: grid;
    height: 100vh;
    grid-gap: 30px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 70px 1fr 1fr;
    grid-template-areas: 
    "hea hea hea"
    "card1 card2 card3"
    "card4 card5 card6"
    ;
}

#tjanst{
    grid-area: hea;
    padding: 20px;
}

.index{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}


.card{
    display: grid;
    border-radius: 23px; 
    border-style: solid;
    border-color: #1abc9c;
    border-width: 3px;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 120px 120px;
    grid-template-areas: 
    "bild"
    "text";

}


.cardimg{
    grid-area: bild;
    filter: grayscale(70%);
    border-radius: 20px 20px 0px 0px;
    z-index: 1;
}

.cardimg:hover{
    filter: grayscale(0%);
    
}

.card-text{
    grid-area: text;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    z-index: 2;
    color: #1abc9c;
}
#card1 {
   
    grid-area: card1;
}
#card2 {
    grid-area: card2;
   
}
#card3 {
    grid-area: card3;
  
}
#card4 {
    grid-area: card4;
    
}
#card5 {
    grid-area: card5;
  
}
#card6 {
    grid-area: card6;
  
}

.sok{
    background-color: aliceblue;
    padding: 5px 0px 5px 20px;
    border-color: #1abc9c;
    border-radius: 10px;
    border-style: solid;
    color: #a9abab;
    font-size: 12px;
}

footer{
    background-color: transparent;
}

.foot{

    color: #ffffff;
}


